<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<link rel="stylesheet" href="/server/public/css/header.css"/>
</head>
<body>
    <header class="header-box">
        <h2><a href="/">TheWindyCityBreeze</a></h2>
        <button><a href="/content">CONTENT</a></button>
        <button><a href="/shop">SHOP</a></button>
        <button><a href="/login">LOG IN</a></button>
        <button><a href="/cart">CART</a></button>
    </header>
</body>
</html>