<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<link rel="stylesheet" href="css/header.css"/> 
</head>
<body>
    <header class="header-box">
        <h2><a href="/" class="logo-btn">TheWindyCityBreeze</a></h2>
      <div class="btn-container">
        <button ><a href="/content" class="header-btn">CONTENT</a></button>
        <button ><a href="/shop" class="header-btn">SHOP</a></button>
        <button ><a href="/login" class="header-btn">LOG IN</a></button>
        <button ><a href="/cart" class="header-btn">CART</a></button>
      </div>
    </header>
</body>
</html>