<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TWCB</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bangers&display=swap" rel="stylesheet">
<link rel="stylesheet" href="css/header.css"/> 
</head>
<body>
  <header class="header-box">
    <container contain-background-vid>
    <video class="background-vid" autoplay loop muted plays-inline>
        <source type="video/mp4" class="background-vid" src="/img/2024Introwebsite.mp4" />
    </video>
    </container>
      <div class="header-name-container">
        <a href="/"><img class="header-icon" src="/img/BREEZE LOGO V2 WHITE (1).png" alt=""></a>
      </div>
      <div class="btn-container">
        <button ><a href="/content" class="header-btn">CONTENT</a></button>
        <button ><a href="https://tenn-designs.web.app/store/windy-city-breeze" class="header-btn">SHOP</a></button>
        <li id="menu-items">
          <button><a href="/aboutus" class="header-btn">About Us</a></button>
        </li>     
        <li>
        <button class="rmve-btn" onclick="dropdown()"><img class="phone-dropdown" src="/img/menu.png"/></button>
        <div class="below999px-dropdown-items">
          <a  href="/aboutus">About Us</a>
          <a href="/content">Content</a>
          <a href="https://tenn-designs.web.app/store/windy-city-breeze">Shop</a>
        </div>
        </li>
      </div>
  </header>
</body>
</html>