<%- include('partials/header') -%>

<!--Video-->

<div class="main-page">
    <h2 class="name-of-content">The Windy City Breeze</h2>
    <container id="video" >
        <iframe id="main-vid" width="800" height="500"
        src="https://www.youtube.com/embed?listType=playlist&list=UU2dxCU59lVh_atF0EmKfA5g" frameborder="0"></iframe>
        </container>
</div>