<%- include('partials/header') -%>

<!--Video-->

<div class="main-page">
    <h2 class="name-of-content">The Windy City Breeze</h2>
    <container id="video" >
        <iframe id="main-vid" width="800" height="500"
        src="https://www.youtube.com/embed?listType=playlist&list=UU2dxCU59lVh_atF0EmKfA5g" frameborder="0"></iframe>
        </container>
</div>

<div class="podcast"><iframe allow="autoplay *; encrypted-media *; fullscreen *; clipboard-write" frameborder="0" height="450" style="width:100%;max-width:660px;overflow:hidden;border-radius:10px;" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-storage-access-by-user-activation allow-top-navigation-by-user-activation" src="https://embed.podcasts.apple.com/us/podcast/the-windy-city-breeze-daily-chicago-sports-talk/id1375266565"></iframe></div>