<%- include('partials/hompageHeader') -%>

<div class="carousel">
    <div class="slider">
      <div class="slide" id="first-img">
        <a href="https://www.eventbrite.com/e/chicago-bears-draft-day-party-tickets-1316695625059?aff=oddtdtcreator">
          <img class="slide-cover" src="/img/Partybanner2.png" alt="Partybanner"/>
        </a>
      </div>
      <div class="slide" id="second-img">
        <a href="https://www.youtube.com/@TheWindyCityBreeze">
          <img class="slide-cover" src="/img/connectbanner.png" alt="Connect"/>
        </a>
      </div>
      <div class="slide" id="third-img">
        <a href="https://tenn-designs.web.app/store/windy-city-breeze">
          <img class="slide-cover" src="/img/shopbanner.png" alt="Shop"/>
        </a>
      </div>
    </div>
  
    <div class="scroll-container">
      <a id="first-btn" class="scroll-btn"></a>
      <a id="second-btn" class="scroll-btn"></a>
      <a id="third-btn" class="scroll-btn"></a>
    </div>
  </div>
  

<div class="main-page-content">
    <img id="family-pic"  src="/img/_g2a4544-.JPG" class="background-img" alt="twcb family photo">
    <h1 class="full-quote">
        <div class="main-quote">the</div>
        <div class="main-quote">windy</div>
        <div class="main-quote">city</div>
        <div class="main-quote">breeze</div>
        <div class="main-quote">family</div>
    </h1> 
    <div class="special-links">
        <div class="space-links">
            <h2>Join the Family</h2>
            <button class="button-19" role="button"><a href="/signup">Click Here</a></button>
        </div>

        <div class="space-links">
            <h2>Shop Breeze Merch</h2>
            <button class="button-19" role="button"><a href="https://tenn-designs.web.app/store/windy-city-breeze">Click Here</a></button>
        </div>

        <div class="space-links about-us">
            <h2>About Us</h2>
            <button class="button-19" role="button"><a href="/aboutus">Click Here</a></button>
        </div>
    </div>
</div>

<%- include('partials/footer') -%>