<%- include('partials/header') -%>

<div class="slider-nav">
   <img class="slide-cover" src="/img/twcb 3.jpg" alt="caleb williams"/>
   <img class="slide-cover" src="/img/twcb 2.jpg" alt="">
   <img class="slide-cover" src="/img/Windycitysports.jpg" alt="">
    <div class="scroll-container">
    <a class="scroll-btn"></a>
    <a class="scroll-btn"></a>
    <a class="scroll-btn"></a>
    </div>
</div>