<%- include('partials/header') -%>

<div class="slider-nav">
    <img id="first-img" class="slide-cover" src="/img/twcb 3.jpg" alt="caleb williams"/>
    <img id="second-img" class="slide-cover" src="/img/twcb 2.jpg" alt="">
    <img id="third-img" class="slide-cover" src="/img/Windycitysports.jpg" alt="">
    <div class="scroll-container">
    <a id="first-btn" class="scroll-btn"></a>
    <a id="second-btn" class="scroll-btn"></a>
    <a id="third-btn" class="scroll-btn"></a>
    </div>
</div>

<div class="main-page-content">
    <h1 class="main-quote">"Where Lightskins Meet There Potential"</h1> 
    <img  src="/img/Breeze-family.jpg" class="background-img" alt="twcb family photo">
</div>

<%- include('partials/footer') -%>