<%- include('partials/hompageHeader') -%>

<%if(users){ %>
    <p class="users-name"><strong>Welcome,</strong>: <%= users.userName %></p>
    <%}%>



<div class="slider-nav">
    <img id="first-img" class="slide-cover" href="https://www.youtube.com/@TheWindyCityBreeze" src="/img/rdc photo.png" alt="caleb williams"/>
    <img id="second-img" class="slide-cover" src="/img/twcb 2.jpg" alt="">
    <img id="third-img" class="slide-cover" src="/img/Windycitysports.jpg" alt="">
    <div class="scroll-container">
    <a id="first-btn" class="scroll-btn"></a>
    <a id="second-btn" class="scroll-btn"></a>
    <a id="third-btn" class="scroll-btn"></a>
    </div>
</div>

<div class="main-page-content">
    <h1 class="full-quote">
        <div class="main-quote">the</div>
        <div class="main-quote">windy</div>
        <div class="main-quote">city</div>
        <div class="main-quote">breeze</div>
        <div class="main-quote">family</div>
    </h1> 
    <h2 class="super-fan">Want To Become A Super Fan?</h2>
    <button class="super-fan-btn">Click Here</button>
    <img id="family-pic"  src="/img/Breeze-family.jpg" class="background-img" alt="twcb family photo">
</div>

<%- include('partials/footer') -%>