<%- include('partials/hompageHeader') -%>

<div class="slider-nav">
   <a  id="first-img"  href="/signup"> <img  class="slide-cover"  src="/img/joinListWParty.png" alt="Mailinglist"/></a>
   <a id="second-img" href="https://www.youtube.com/@TheWindyCityBreeze"> <img class="slide-cover" src="/img/connectbanner.png" alt=""></a>
    <a id="third-img" href="/shop"><img class="slide-cover" src="/img/shopbanner.png" alt=""></a>
    <div class="scroll-container">
    <a id="first-btn" class="scroll-btn"></a>
    <a id="second-btn" class="scroll-btn"></a>
    <a id="third-btn" class="scroll-btn"></a>
    </div>
</div>

<div class="main-page-content">
    <img id="family-pic"  src="/img/_g2a4544-.JPG" class="background-img" alt="twcb family photo">
    <h1 class="full-quote">
        <div class="main-quote">the</div>
        <div class="main-quote">windy</div>
        <div class="main-quote">city</div>
        <div class="main-quote">breeze</div>
        <div class="main-quote">family</div>
    </h1> 
    <div class="special-links">
        <div class="space-links">
            <h2>Join the Family</h2>
            <button class="button-19" role="button"><a href="/signup">Click Here</a></button>
        </div>
    
       <div class="space-links">
        <h2>Shop Breeze Merch</h2>
        <button class="button-19" role="button"><a href="/shop">Click Here</a></button>
       </div>

       <div class="space-links about-us">
        <h2>About Us</h2>
        <button class="button-19" role="button"><a href="/aboutus">Click Here</a></button>
       </div>
    </div>
</div>

<%- include('partials/footer') -%>