<%- include('partials/header') -%>

<h1 class="login-header">Log In</h1>

<div class="login-container">
  <form class="login-form" action="/login" method="POST">
    
      <label>Email address</label>
      <input 
        type="email"
        class="form-control"
        aria-describedby="emailHelp"
        name="email"
      />
    <label >Password</label>
      <input 
        type="password"
        class="form-control"
        name="password"
      />
      <button type="submit">Submit</button>
  </form>

  <h2>Haven't signed up yet?</h2>
  <button><a href="/signup">Sign Up</a></button>
</div>