<%- include('partials/header') -%>

<h1 class="login-header">Log In</h1>

<div class="login-container">
  <form class="login-form" action="/login" method="POST">
    
      <label class="login-form">Email address</label>
      <input 
        type="email"
        class="login-form"
        aria-describedby="emailHelp"
        name="email"
      />
    <label class="login-form">Password</label>
      <input 
        type="password"
        class="login-form"
        name="password"
      />
      <button type="submit">Submit</button>
  </form>

  <h2 class="login-form">Haven't signed up yet?</h2>
  <button ><a class="login-form" href="/signup">Sign Up</a></button>
</div>
<%- include('partials/footer') -%>