<%- include('partials/header') -%>


<div class="profile">
    <img  class="aboutUs" src="/img/TheWindyCityBreezePitchDeck.png" alt="">
</div>

<div class="items-bought">
<h2></h2>

</div>
<%- include('partials/footer') -%>