<%- include('partials/header') -%>

<h1>Time To Shop!!</h1>

<ul>
    <% for(var i=0; i<products.length; i++) {%>
      <li >
        <a href="/product/<%= products[i]._id%>">
          <p>name: <%= products[i].name %></p>
          <h2>photo</h2>
          <p>description: <%= products[i].description %></p>
        </a>
      </li>
    <% } %>
</ul>