<%- include('partials/loginHeader') -%>

<div class="row justify-content-center">
    <section class="col-6 mt-5">
    
        <form class="login-container" action="/signup" method="POST">
            <div class="login-form">
                <label for="userName" class="login-form">User Name</label>
                <input type="text" class="login-form" id="userName" name="userName">
              </div>
            <div class="login-form">
              <label for="exampleInputEmail1" class="login-form">Email address</label>
              <input type="email" class="login-form" id="exampleInputEmail1" aria-describedby="emailHelp" name="email">
              <div id="emailHelp" class="login-form">We'll never share your email with anyone else.</div>
            </div>
            <div class="login-form">
              <label for="password" class="login-form">Password</label>
              <input type="password" class="login-form" id="password" name="password">
            </div>
            <div class="login-form">
                <label for="confirmPassword" class="login-form">Confirm Password</label>
                <input type="password" class="login-form" id="confirmPassword" name="confirmPassword">
              </div>
            <button type="submit" class="login-form">Submit</button>
          </form>
    </section>
</div>
<%- include('partials/footer') -%>